## Data Structure

### print (기본 입출력)

- print(value, sep='', end='\n', ...)

    - value를 출력
    - sep : 출력되는 value들 사이 분리 기호
    - end : 출력 문자열 마지막 문자
        - 기본값('\n')

In [2]:
print('오늘 파이썬 배우기 좋은 날이네!')
print('오늘은', '일요일', end='+')
print('\n오늘은', '일요일')

오늘 파이썬 배우기 좋은 날이네!
오늘은 일요일+
오늘은 일요일

### 변수

- 변수란 자료형의 값을 저장하는 공간
- 변수명 = 변수에 저장할 값
- 변수의 타입 확인 : type()

In [8]:
import pandas as pd
import numpy as np

data = {
    '분류' : ['숫자', '', '참, 거짓', '열거형', '집합', '','', '사전'],
    '타입' : ['정수', '실수','불','문자열','리스트', '튜플', '세트', '사전'],
    '타입명' : ['int', 'float', 'bool', 'Str', 'list', 'tuple', 'set', 'dict'],
    '리터럴 예시' : ['1, 4, 10', '3.156', 'True, False', '\"Hello World\"', '[10, 20, 30, 40]', '(1, 2, 3, 4)', '{3, 5, 9, 10}', '{\'a\':1, \'b\':2}']
}

pd.DataFrame(data)

      분류   타입    타입명            리터럴 예시
0     숫자   정수    int          1, 4, 10
1          실수  float             3.156
2  참, 거짓    불   bool       True, False
3    열거형  문자열    Str     "Hello World"
4     집합  리스트   list  [10, 20, 30, 40]
5          튜플  tuple      (1, 2, 3, 4)
6          세트    set     {3, 5, 9, 10}
7     사전   사전   dict    {'a':1, 'b':2}

### 숫자형 타입 확인과 변경

- type() 함수를 사용하여 데이터 타입 검사 가능

In [11]:
print(type(1))
print(type(3.14))
print(type("안녕"))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

- type 변경

In [15]:
a = 1
print(type(a))
print(f'type(float(a)) : {type(float(a))}')

b = 3.99
print(f'int(b) = {int(b)}')
print(f'type(int(b)) : {type(int(b))}')

<class 'int'>
type(float(a)) : <class 'float'>
int(b) = 3
type(int(b)) : <class 'int'>

## 집합형 자료구조

- list
    - 여러 가지 형태의 변수를 하나의 순서가 있는 배열로 묶어놓은 형태

- tuple
    - 조회만 가능하고 변경이 불가능한 리스트

- set
    - 순서가 없고 중복을 허용하지 않음

- dictionary
    - Key와 value 형태로 데이터를 저장함

- list 규칙

    - list는 다양한 type의 데이터를 집합으로 가집니다
    - list 안에 list도 허용합니다.
    - list는 순서의 개념이 존재합니다

In [19]:
a = []
a = list()

a = [1, 'hello', 3, 3.14, True]
a = [1, 3.14, 'hi', [6, 7, '8']]
print(a)

[1, 3.14, 'hi', [6, 7, '8']]

#### list의 성질

- append() : 값 추가
    - append(value)  : 리스트의 맨 마지막에 value 추가

In [21]:
mylist = list()
for i in range(3):
    mylist.append(3)

mylist.append(5)
print(mylist)

[3, 3, 3, 5]

- insert() : 값 추가
    - insert(index, value) : index에 value 삽입

In [22]:
mylist.insert(1, 100)
mylist

[3, 100, 3, 3, 5]

- 삭제
    - remove(value) : 첫번째로 나오는 value 삭제(index 빠른 순서)

    - pop(index) : index 번째 요소를 반환 및 삭제

In [23]:
mylist = [1, 100, 7, 7, 7, 7, 3, 5, 2]
mylist.remove(1)
mylist

[100, 7, 7, 7, 7, 3, 5, 2]

- pop(index)는 값을 저장함과 동시에 index에 있는 값을 삭제시킨다

In [25]:
mylist = [1, 100, 7, 7, 7, 7, 3, 5, 2]
print(mylist.pop(1))
mylist

100

[1, 7, 7, 7, 7, 3, 5, 2]

- len() : 리스트의 크기
    - len(list)

In [31]:
mylist = list(range(10, 60, 10))
print(mylist)
len(mylist)

[10, 20, 30, 40, 50]

5

- 정렬
    - *sort()* : 정렬
    - *sort(reverse=True)* : 내림차순(descending) 정렬

In [41]:
mylist = list(range(0, 60, 10))
print(mylist)

mylist.sort(reverse=True)
mylist

[0, 10, 20, 30, 40, 50]

[50, 40, 30, 20, 10, 0]

- *extend()* : 리스트 확장

In [42]:
a = [1, 2, 3]
print(a)
a.extend([4, 5])
print(a)

[1, 2, 3]
[1, 2, 3, 4, 5]

- 색인(index)

    - mylist = [1,2,3,4]

In [43]:
print(mylist[0])
print(mylist[3])
# print(mylist[4])
print(mylist[-1])
print(mylist[-3])
# print(mylist[-5])

50
20
0
20

- 리스트 색인하여 값 수정

In [46]:
print(mylist)
mylist[0] = 100
print(mylist)
mylist[-1] = 300
print(mylist)

[100, 40, 30, 20, 10, 0]
[100, 40, 30, 20, 10, 0]
[100, 40, 30, 20, 10, 300]

- 중첩 리스트 색인

In [48]:
mylist = [[1,2,3], [4,5,6], [7,8,9]]
print(mylist)

print(mylist[1])
print(mylist[1][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[4, 5, 6]
5

- slicing : 추출