## Module import

In [1]:
from IPython.display import Image
import numpy as np
import pandas as pd
# %pip install openpyxl

### Download the data

In [2]:
from opendata import dataset

# 데이터셋 다운로드
dataset.download('서울시대중교통')
dataset.download('서울시주민등록인구')

[서버] Jaen
======= 다운로드 시작 =======

data\서울시대중교통\seoul_transportation.xlsx

  0%|          | 0.00/26.2k [00:00<?, ?B/s]

======= 다운로드 완료 =======
[서버] Jaen
======= 다운로드 시작 =======

data\서울시주민등록인구\seoul_population.csv

  0%|          | 0.00/3.55k [00:00<?, ?B/s]

======= 다운로드 완료 =======

## Excel

[도큐먼트](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html)

### Excel - 불러오기

Excel 데이터를 바로 읽어들일 수 있으며, `sheet_name`을 지정하면 해당 sheet를 가져옵니다.

[참고] `pd.read_excel()`로 엑셀 데이터 로드시 에러 발생한다면 `engine='openpyxl'`을 추가

In [3]:
excel_train = pd.read_excel('data/서울시대중교통/seoul_transportation.xlsx', engine='openpyxl' ,sheet_name='철도')
excel_train.head()

  대중교통구분  노선명      년월   승차총승객수
0    지하철  1호선  201711  8633618
1    지하철  1호선  201712  8737235
2    지하철  1호선  201801  8145989
3    지하철  1호선  201802  7273309
4    지하철  1호선  201803  8692551

In [4]:
excel_bus = pd.read_excel('data/서울시대중교통/seoul_transportation.xlsx', engine='openpyxl', sheet_name='버스')
excel_bus.head()

  대중교통구분      년월     승차총승객수
0     버스  201711  163443126
1     버스  201712  162521011
2     버스  201801  153335185
3     버스  201802  134768582
4     버스  201803  166177855

`sheet_name`을 None으로 지정하면, 모든 sheet를 가지고 옵니다

가지고 올 때는 OrderedDict로 가져오며, `keys`로 시트명을 조회할 수 있습니다.

In [5]:
excel = pd.read_excel('data/서울시대중교통/seoul_transportation.xlsx', engine='openpyxl', sheet_name=None)
excel

{'철도':     대중교통구분    노선명      년월   승차총승객수
 0      지하철    1호선  201711  8633618
 1      지하철    1호선  201712  8737235
 2      지하철    1호선  201801  8145989
 3      지하철    1호선  201802  7273309
 4      지하철    1호선  201803  8692551
 ..     ...    ...     ...      ...
 596    지하철  우이신설선  201901  1263643
 597    지하철  우이신설선  201902  1102109
 598    지하철  우이신설선  201903  1402393
 599    지하철  우이신설선  201904  1403115
 600    지하철  우이신설선  201905  1469681

 [601 rows x 4 columns],
 '버스':    대중교통구분      년월     승차총승객수
 0      버스  201711  163443126
 1      버스  201712  162521011
 2      버스  201801  153335185
 3      버스  201802  134768582
 4      버스  201803  166177855
 5      버스  201804  160452595
 6      버스  201805  164390595
 7      버스  201806  156999747
 8      버스  201807  163736112
 9      버스  201808  160240197
 10     버스  201809  151311657
 11     버스  201810  165820934
 12     버스  201811  163017758
 13     버스  201812  158049446
 14     버스  201901  153037549
 15     버스  201902  131621925
 16     버스  201903  161694445
 17     버스  201904  161900273
 18     버스  201905  166587933}

In [6]:
excel.keys()

dict_keys(['철도', '버스'])

In [7]:
excel['철도'].head()

  대중교통구분  노선명      년월   승차총승객수
0    지하철  1호선  201711  8633618
1    지하철  1호선  201712  8737235
2    지하철  1호선  201801  8145989
3    지하철  1호선  201802  7273309
4    지하철  1호선  201803  8692551

In [8]:
excel['버스'].head()

  대중교통구분      년월     승차총승객수
0     버스  201711  163443126
1     버스  201712  162521011
2     버스  201801  153335185
3     버스  201802  134768582
4     버스  201803  166177855

### Excel - 저장하기

DataFrame을 Excel로 저장할 수 있으며, Excel로 저장 시 파일명을 지정합니다.
* `index=False` 옵션은 가급적 꼭 지정하는 옵션입니다. 지정을 안하면 **index가 별도의 column으로 저장**되게 됩니다.
* `sheet_name`을 지정하여, 저장할 시트의 이름을 변경할 수 있습니다.

In [9]:
excel = pd.read_excel('data/서울시대중교통/seoul_transportation.xlsx', engine='openpyxl', sheet_name='철도')
excel.head()

  대중교통구분  노선명      년월   승차총승객수
0    지하철  1호선  201711  8633618
1    지하철  1호선  201712  8737235
2    지하철  1호선  201801  8145989
3    지하철  1호선  201802  7273309
4    지하철  1호선  201803  8692551

별도의 시트명 없이 저장

In [10]:
import os
desktop_path = os.path.expanduser("~/")
file_path = os.path.join(desktop_path, 'sample2.xlsx')

excel.to_excel(file_path, index=True)

sheetname을 **샘플**로 지정하여 저장

In [11]:
excel.to_excel(file_path, index=False, sheet_name='샘플')

## CSV (Comma Separated Values)

* 한 줄이 한 개의 행에 해당하며, 열 사이에는 **쉼표(,)를 넣어 구분**합니다.
* Excel보다는 훨씬 가볍고 **차지하는 용량이 적기 때문에 대부분의 파일데이터는 csv 형태**로 제공됩니다.

## CSV - 불러오기

In [12]:
df = pd.read_csv('data/서울시주민등록인구/seoul_population.csv')
df.keys()

Index(['연도', '자치구', '세대수', '인구 합계', '남자 인구 합계', '여자 인구 합계', '한국인 인구 합계',
       '한국인 남자 인구수', '한국인 여자 인구수', '등록 외국인 인구 합계', '등록 외국인 인구 남자수',
       '등록 외국인 인구 여자수', '세대당 인구', '65세 이상 고령자 수'],
      dtype='object')

### CSV - 저장하기

저장하는 방법은 excel과 유사합니다. 다만, csv 파일 형식에는 `sheet_name` 옵션은 없습니다.

In [13]:
desktop_path = os.path.expanduser('~/')
file_path = os.path.join(desktop_path, 'sample1.csv')

df.to_csv(file_path, index=False)

읽어들인 **Excel 파일도 csv로 저장**할 수 있습니다.

In [14]:
desktop_path = os.path.expanduser('~/')
excel = pd.read_excel('data/서울시대중교통/seoul_transportation.xlsx', engine='openpyxl', sheet_name='버스')
excel.head()

  대중교통구분      년월     승차총승객수
0     버스  201711  163443126
1     버스  201712  162521011
2     버스  201801  153335185
3     버스  201802  134768582
4     버스  201803  166177855

In [15]:
excel.to_csv(file_path, index=False)

## json(JavaScript Object Notation)

* JavaScript Object Notation이라는 의미의 축약어로 데이터를 저장하거나 전송할 때 많이 사용되는 경량의 DATA 교환 형식
* 용량이 작고, 파일의 구조를 이해하기 직관적
* 데이터 전송 시 많이 사용됩니다.

In [16]:
import pprint
import json
import requests

# USD 환율 정보 실시간 요청 API
# 결과 형식을 json 형식으로 반환
url = "https://api.exchangerate-api.com/v4/latest/USD"

# API로 실시간 데이터 요청
ret = requests.get(url)

# json 형식의 파일로 로드
json_data = json.loads(ret.text)

# 출력
pprint.pprint(json_data)

{'WARNING_UPGRADE_TO_V6': 'https://www.exchangerate-api.com/docs/free',
 'base': 'USD',
 'date': '2024-07-12',
 'provider': 'https://www.exchangerate-api.com',
 'rates': {'AED': 3.67,
           'AFN': 71,
           'ALL': 92.62,
           'AMD': 388.28,
           'ANG': 1.79,
           'AOA': 880.01,
           'ARS': 920.5,
           'AUD': 1.48,
           'AWG': 1.79,
           'AZN': 1.7,
           'BAM': 1.8,
           'BBD': 2,
           'BDT': 117.52,
           'BGN': 1.8,
           'BHD': 0.376,
           'BIF': 2876.97,
           'BMD': 1,
           'BND': 1.34,
           'BOB': 6.92,
           'BRL': 5.41,
           'BSD': 1,
           'BTN': 83.54,
           'BWP': 13.51,
           'BYN': 3.26,
           'BZD': 2,
           'CAD': 1.36,
           'CDF': 2837.24,
           'CHF': 0.897,
           'CLP': 911.35,
           'CNY': 7.27,
           'COP': 3983.51,
           'CRC': 527.35,
           'CUP': 24,
           'CVE': 101.51,
           'CZK': 23.35,
           'DJF': 177.72,
           'DKK': 6.87,
           'DOP': 59.03,
           'DZD': 134.32,
           'EGP': 47.99,
           'ERN': 15,
           'ETB': 57.84,
           'EUR': 0.921,
           'FJD': 2.26,
           'FKP': 0.775,
           'FOK': 6.87,
           'GBP': 0.775,
           'GEL': 2.72,
           'GGP': 0.775,
           'GHS': 15.46,
           'GIP': 0.775,
           'GMD': 65.72,
           'GNF': 8643.09,
           'GTQ': 7.76,
           'GYD': 209.3,
           'HKD': 7.81,
           'HNL': 24.76,
           'HRK': 6.94,
           'HTG': 132.12,
           'HUF': 362.56,
           'IDR': 16174.65,
           'ILS': 3.64,
           'IMP': 0.775,
           'INR': 83.54,
           'IQD': 1309.29,
           'IRR': 42061.7,
           'ISK': 137.46,
           'JEP': 0.775,
           'JMD': 156.83,
           'JOD': 0.709,
           'JPY': 159.32,
           'KES': 128.64,
           'KGS': 86.17,
           'KHR': 4126.2,
           'KID': 1.48,
           'KMF': 452.9,
           'KRW': 1373.78,
           'KWD': 0.306,
           'KYD': 0.833,
           'KZT': 474.77,
           'LAK': 22014.32,
           'LBP': 89500,
           'LKR': 302.81,
           'LRD': 194.64,
           'LSL': 18,
           'LYD': 4.86,
           'MAD': 9.83,
           'MDL': 17.77,
           'MGA': 4497.92,
           'MKD': 56.91,
           'MMK': 2098.38,
           'MNT': 3427.2,
           'MOP': 8.04,
           'MRU': 39.68,
           'MUR': 46.75,
           'MVR': 15.44,
           'MWK': 1743.31,
           'MXN': 17.8,
           'MYR': 4.69,
           'MZN': 63.91,
           'NAD': 18,
           'NGN': 1537.42,
           'NIO': 36.8,
           'NOK': 10.72,
           'NPR': 133.66,
           'NZD': 1.64,
           'OMR': 0.384,
           'PAB': 1,
           'PEN': 3.78,
           'PGK': 3.88,
           'PHP': 58.23,
           'PKR': 278.82,
           'PLN': 3.92,
           'PYG': 7512.05,
           'QAR': 3.64,
           'RON': 4.58,
           'RSD': 107.78,
           'RUB': 87.31,
           'RWF': 1314.69,
           'SAR': 3.75,
           'SBD': 8.24,
           'SCR': 13.8,
           'SDG': 512.23,
           'SEK': 10.5,
           'SGD': 1.34,
           'SHP': 0.775,
           'SLE': 23.5,
           'SLL': 23504.72,
           'SOS': 572.08,
           'SRD': 30.13,
           'SSP': 1970.32,
           'STN': 22.55,
           'SYP': 12913.06,
           'SZL': 18,
           'THB': 36.18,
           'TJS': 10.79,
           'TMT': 3.5,
           'TND': 3.13,
           'TOP': 2.33,
           'TRY': 32.94,
           'TTD': 6.76,
           'TVD': 1.48,
           'TWD': 32.43,
           'TZS': 2655.15,
           'UAH': 40.87,
           'UGX': 3700.17,
           'USD': 1,
           'UYU': 40.01,
           'UZS': 12671.9,
           'VES': 36.53,
           'VND': 25467.08,
           'VUV': 119.5,
           'WST': 2.72,
           'XAF': 603.87,
           'XCD': 2.7,
           'XDR': 0.756,
           'XOF': 603.87,
           'XPF': 109.86,
           'YER': 250.31,
           'ZAR': 18,
           'ZMW': 25.36,
           'ZWL': 13.74},
 'terms': 'https://www.exchangerate-api.com/terms',
 'time_last_updated': 1720742401}

### json 형식의 파일 로드

* `read_json()` 함수 호출 시 json 형식을 반환하는 API 주소나, 파일 모두 입력 가능

In [17]:
# read_json으로 파일 로드
df = pd.read_json(url)
df

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
USD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2024-07-12,1720742401,1.00
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2024-07-12,1720742401,3.67
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2024-07-12,1720742401,71.00
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2024-07-12,1720742401,92.62
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2024-07-12,1720742401,388.28
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2024-07-12,1720742401,109.86
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2024-07-12,1720742401,250.31
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2024-07-12,1720742401,18.00
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2024-07-12,1720742401,25.36
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2024-07-12,1720742401,13.74

### json 형식으로 저장

In [18]:
df.to_json('currency.json')

## 연습문제

아래 코드를 실행하여 실습에 필요한 데이터셋을 다운로드 받습니다.

In [19]:
dataset.download('판다스입출력샘플')

[서버] Jaen
======= 다운로드 시작 =======

data\판다스입출력샘플\file_sample.zip

  0%|          | 0.00/40.9k [00:00<?, ?B/s]

압축 해제 및 프로젝트 파일 구성중...

======= 다운로드 완료 =======

* `sample` 변수에 `data/file_sample.xlsx` 파일을 읽어 로드합니다.
* 로드한 후 sheet를 모두 출력합니다.

In [22]:
sample = pd.read_excel('data/판다스입출력샘플/file_sample.xlsx', engine='openpyxl', sheet_name=None)
sample.keys()

dict_keys(['2020년 01월', '2020년 02월', '2020년 03월', '2020년 04월', '2020년 05월', '2020년 06월', '2020년 07월', '2020년 08월', '2020년 09월', '2020년 10월', '2020년 11월', '2020년 12월'])

2020 10월 시트를 `sample_202010`에 로드합니다.

In [26]:
sample_202010 = pd.read_excel('data/판다스입출력샘플/file_sample.xlsx', engine='openpyxl', sheet_name='2020년 10월')
sample_202010

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
0,서울 강남구,1443.440000,1627.111111,1420.760000,1593.250,1416.866250,1734.166667,NaN,NaN,NaN,NaN,1385.230000,1525.705000
1,서울 강동구,1413.275000,1430.353333,1418.970000,1498.000,1445.000000,1653.695000,NaN,NaN,NaN,NaN,1403.063333,1424.340000
2,서울 강북구,1293.675000,1313.190000,1275.100000,1325.710,1329.690000,1295.840000,NaN,NaN,NaN,NaN,1322.300000,NaN
3,서울 강서구,1361.773333,1385.840000,1376.913333,NaN,1325.516667,1433.664000,NaN,1273.11,1264.06,NaN,1299.240000,1362.530000
4,서울 관악구,1415.450000,1429.970000,NaN,1397.015,1411.840000,1436.280000,NaN,1313.00,1329.45,NaN,1392.550000,1407.050000
5,서울 광진구,NaN,1360.394000,1337.160000,1344.970,NaN,1373.623333,NaN,NaN,1309.19,NaN,1358.733333,1337.940000
6,서울 구로구,1285.940000,1511.173333,1286.420000,1393.832,NaN,1336.065000,NaN,NaN,1321.77,NaN,1314.235000,1391.170000
7,서울 금천구,1313.940000,NaN,1305.565000,1287.580,NaN,1351.600000,NaN,1282.46,1291.67,NaN,1313.035000,1379.390000
8,서울 노원구,1340.890000,1421.850000,1370.966667,NaN,1373.275000,1398.000000,NaN,NaN,NaN,NaN,NaN,1431.435000
9,서울 도봉구,1331.920000,1327.320000,1329.896000,1557.000,1291.470000,NaN,NaN,NaN,NaN,NaN,1345.106667,1309.936667
10,서울 동대문구,1305.485000,1304.980000,1296.390000,1372.500,1367.550000,1383.838000,NaN,NaN,NaN,NaN,1329.100000,1386.727500
11,서울 동작구,1413.840000,1345.275000,NaN,1358.030,NaN,1484.350000,NaN,NaN,NaN,NaN,1393.290000,1388.840000
12,서울 마포구,NaN,1371.190000,1408.970000,1556.175,NaN,1493.846000,NaN,NaN,NaN,NaN,1453.000000,1420.580000
13,서울 서대문구,1357.690000,1358.230000,1351.905000,1320.810,1360.226667,1352.713333,NaN,NaN,NaN,NaN,1352.840000,1357.805000
14,서울 서초구,1391.770000,1408.220000,1388.463333,1629.940,1402.270000,1590.833333,1272.39,NaN,NaN,NaN,1417.290000,1468.968000
15,서울 성동구,1361.450000,1650.000000,1312.230000,1342.190,1418.770000,1471.978333,NaN,NaN,NaN,1299.58,1350.725000,1572.695000
16,서울 성북구,1299.240000,1333.710000,1301.643333,1354.725,1309.065000,1407.230000,NaN,NaN,1263.84,NaN,1306.835000,1353.160000
17,서울 송파구,1364.285000,1381.450000,1356.130000,1412.840,1359.053333,1431.812500,NaN,NaN,NaN,NaN,1367.140000,1378.280000
18,서울 양천구,1312.826667,1323.050000,1269.060000,NaN,1333.678000,1447.435000,NaN,1292.87,NaN,NaN,1347.365000,1401.385000
19,서울 영등포구,1350.437500,1580.468333,1349.940000,1345.000,1338.742500,1600.968333,NaN,1276.42,NaN,NaN,1349.728000,1494.000000
20,서울 용산구,NaN,1769.362500,NaN,NaN,NaN,1885.408333,NaN,NaN,NaN,NaN,NaN,1800.507500
21,서울 은평구,1332.586000,1341.520000,1338.050000,NaN,1334.837500,NaN,NaN,NaN,NaN,1418.00,1314.870000,1399.000000
22,서울 종로구,NaN,1989.000000,NaN,1459.000,1425.000000,1943.000000,NaN,NaN,NaN,NaN,NaN,1665.775000
23,서울 중구,NaN,2067.053333,NaN,1758.000,NaN,1945.522000,NaN,NaN,1401.87,NaN,NaN,1618.000000
24,서울 중랑구,1315.525000,1305.710000,1303.493333,1359.885,1347.587500,NaN,NaN,NaN,NaN,NaN,1338.420000,1291.190000

In [27]:
sample_202010.to_csv('2020-10-oil-price.csv', index=False)